<h1>Memory Game</h1>

<!--https://hexdocs.pm/phoenix_html/Phoenix.HTML.Form.html -->
<%= form_for @conn, page_path(@conn, :new), fn f -> %>
    <%= text_input f, :name, [placeholder: "Enter game name"] %>
  <%= submit "Join Game" %>
<% end %>
