/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }

h1 { text-align: center; }

.tile { 
	height: 100px;
	width: 100px;
	text-align: center;
}

.grid {
	width: 400px;
	height: 400px;	
}
